html {
    /* Stops mobile browsers from forcing their own minimum text sizing */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

header {
    background-color: #7e44cf;
    color: white;
    height: 30vh;
    width: 100vw;

    display:flex;
    align-items: center;
    justify-content: center;


    h1 {
        width: 85vw;
        font-size: 7.65vw;
        text-align: center;
    }
}

.bookmark-created {
    background-color: #ffc107;
}

.form-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    > form {
        width: 80%;
        margin: 5px auto;
    }
}


.card {
    border: 3px solid black;
}

#phobia-type {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;

    font-weight: bold;
    font-size: 0.65rem;
}