html {
    /* Stops mobile browsers from forcing their own minimum text sizing */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

header {
    background-color: #7e44cf;
    color: white;
    height: 30vh;
    width: 100vw;

    display:flex;
    align-items: center;
    justify-content: center;


    h1 {
        width: 85vw;
        font-size: 7.65vw;
        text-align: center;
    }
}

.bookmark-created {
    background-color: #e3b600;
}

#search-form {
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 4px;
}

#tmp {
    height: 70vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}