{% extends "base.html" %}
{% block content %}
<div class="form-div">
    <form method="POST" action="{{ url_for('auth.signup') }}">
        <div class="mb-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- For integrity !-->

            <label class="form-label font-weight-bold" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label font-weight-bold">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="mb-3">
            <label class="form-label font-weight-bold" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="mb-3">
            <label class="form-label font-weight-bold" for="check_password">Confirm Password</label>
            <input class="form-control" type="password" id="check_password" name="check_password" placeholder="Confirm Password" required>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}